@import "bootstrap.css";
@import "stylesheet__fonts.css";


.program{
  font-size: 30px;
  font-variant: all-small-caps;
  font-weight: bold;
  font-family: "Myriad Pro";
}
.diff_bg{
  margin-bottom: 10px;
  &:nth-of-type(odd){
    background-color: black;
  }
  &:nth-of-type(even){
    background-color: #c4c4c4;
  }
}
.time_program{
  span{
    color: white;
    font-variant: all-small-caps;
    &:first-of-type{
      font-size: 48px;
      font-weight: bold;
      font-family: "Myriad Pro";
      padding-right: 45px;
    }
    &:last-of-type{
      font-size: 18px;
      font-family: 'Oswald';
    }
  }
}

.timetable{
  &__photo{
    height: 185px;
    background-color: black;
  }
  &__time{
    font-family: "Myriad Pro";
    font-size: 40px;
    font-weight: bold;
  }
  &__name{
    p{
      font-family: "Oswald";
      font-weight: bold;
      &:first-of-type{
        font-size: 24px;
      }
      &:last-of-type{
        font-size: 18px;
      }
    }
  }
}
.after_lunch{
  display: flex;
  justify-content: center;
  .after_lunch__header{
    font-size: 34px;
    font-weight: bold;
    font-family: "Myriad Pro";
    font-variant: all-small-caps;
  }
}