@import url(bootstrap.css);
@import url(stylesheet__fonts.css);
section {
  padding: 500px 0; }

.program {
  font-size: 30px;
  font-variant: all-small-caps;
  font-weight: bold;
  font-family: "Myriad Pro"; }

.diff_bg {
  margin-bottom: 10px; }
  .diff_bg:nth-of-type(odd) {
    background-color: black; }
  .diff_bg:nth-of-type(even) {
    background-color: #c4c4c4; }

.time_program span {
  color: white;
  font-variant: all-small-caps; }
  .time_program span:first-of-type {
    font-size: 48px;
    font-weight: bold;
    font-family: "Myriad Pro";
    padding-right: 45px; }
  .time_program span:last-of-type {
    font-size: 18px;
    font-family: 'Oswald'; }

.timetable__photo {
  background-color: black;
  width: 250px;
  height: 250px; }
.timetable__time {
  font-family: "Myriad Pro";
  font-size: 40px;
  font-weight: bold; }
.timetable__name p {
  font-family: "Oswald"; }
  .timetable__name p:first-of-type {
    font-size: 24px;
    font-weight: bolder; }
  .timetable__name p:last-of-type {
    font-size: 18px; }

.after_lunch__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .after_lunch__header__rank {
    font-size: 34px;
    font-weight: bold;
    font-family: "Myriad Pro";
    font-variant: all-small-caps;
    line-height: 2rem; }
.after_lunch .after_lunch__line {
  position: relative; }
  .after_lunch .after_lunch__line div:before {
    display: inline-block;
    width: 75%;
    height: 1px;
    content: "";
    background-color: black;
    position: absolute;
    top: 50%;
    left: 15%; }
.after_lunch p {
  font-family: "Oswald";
  margin-bottom: 0; }
.after_lunch .after_lunch__photos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .after_lunch .after_lunch__photos .after_lunch__item__time {
    font-family: "Myriad Pro";
    font-size: 24px;
    font-weight: bold; }
  .after_lunch .after_lunch__photos .after_lunch__item__photo {
    background-color: black;
    width: 170px;
    height: 170px; }

.after_lunch__item__disc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start; }
  .after_lunch__item__disc p {
    font-family: "Oswald";
    font-weight: lighter; }
    .after_lunch__item__disc p:first-of-type {
      font-size: 24px;
      font-weight: bolder; }
    .after_lunch__item__disc p:last-of-type {
      font-size: 18px; }

.time_18 {
  display: flex;
  flex-direction: row; }
  .time_18__time {
    font-family: "Myriad Pro";
    font-weight: bold;
    font-size: 40px; }
  .time_18__text {
    font-family: 'Oswald'; }
    .time_18__text p:first-of-type {
      font-size: 18px;
      font-weight: bolder; }

@media screen and (min-width: 768px) {
  .after_lunch .after_lunch__photos .after_lunch__item__photo {
    width: 200px;
    height: 200px; } }
@media screen and (min-width: 576px) {
  .after_lunch .after_lunch__photos .after_lunch__item__photo {
    width: 160px;
    height: 160px; } }
@media screen and (max-width: 576px) {
  .after_lunch .after_lunch__photos .after_lunch__item__photo {
    width: 50px;
    height: 50px; }

  .timetable__photo {
    width: 100px;
    height: 100px; }

  .timetable__time {
    font-size: 24px;
    margin-top: 5px; }

  .after_lunch__line div:before {
    display: none; } }

/*# sourceMappingURL=style.css.map */
